body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  font-weight: bolder;
  color: darkblue;
  background: #eef;
}

#container {
  /* overflow: hidden; */
	width: 260px;
	margin: 0 auto;
	padding: 10px 0 10px 10px;;
	background: #aaa;
	border: 1px solid #999;
}

#container:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

img {
  width: 80px;
	float: left;
  margin: 0 5px 0 0;
}

/* #container {
  width: 960px;
  margin: 0 auto;
} */

#content {
  float: left;
  width: 660px;
  background: #fff;
}

#navigation {
  float: right;
  width: 300px;
  background: #eee;
}

#footer {
  clear: both;
  background: #aaa;
  padding: 10px;
}

p {
  color: rgb(66, 86, 122);
}

